<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}
    </title>

    <link rel="stylesheet" href="{{ `assets/syntax.css` | relURL }}">
    <link rel="stylesheet" href="{{ `assets/primer-build.css` | relURL }}">
    <link rel="stylesheet" href="{{ `assets/style.css` | relURL }}">
  </head>
  <body class="bg-gray">
    <div id="holy" class="container-lg bg-white">

      <div id="header" class="px-1 bg-white">
        {{ partial "header.html" . }}
      </div>

      <div role="main" id="main" class="holy-main markdown-body px-4 bg-white">
        {{ block "main" . }}
        <article>
          <h1>{{ .Title }}</h1>
          <section>
            {{ .Content }}
          </section>
        </article>
        {{ end }}
      </div>

      <div id="side" class="pr-1 bg-white">
        <aside class="pr-3">
          {{ block "side" . }}
          {{ end }}
        </aside>
      </div>

    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <!-- MathJax -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>

    {{ if not .Site.BuildDrafts }}
    {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
  </body>
</html>
