<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}
    </title>

    <link rel="stylesheet" href="{{ `assets/syntax.css` | relURL }}">
    <link rel="stylesheet" href="{{ `assets/primer-build.css` | relURL }}">
    <link rel="stylesheet" href="{{ `assets/style.css` | relURL }}">
  </head>
  <body>

    <div role="main" class="application-main">
      <div class="container">
        <div class="markdown-body">
          {{ block "main" . }}
          This is default message. Main content is missing.
          {{ end }}
        </div>
      </div>
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <!-- MathJax -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>

    {{ if not .Site.BuildDrafts }}
    {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
  </body>
</html>
