{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}



{{ define "main" }}
<!-- Title -->
<div class="Subhead">
  <div class="Subhead-heading">
    <div class="h1 mt-3 mb-1">{{ .Title }}</div>
  </div>
  <div class="Subhead-description">
    {{ partial "taxonomy.html" . }}
    <span class="float-md-right">{{ .Date.Format "2006-01-01" }}</span>
  </div>
</div>
<article>
  <!-- Content -->
  <section>
    {{ .Content }}
  </section>
</article>
{{ end }}



{{ define "side" }}
{{ if and (gt .WordCount 0 ) (ne .Params.toc "false") }}
<div id="toc" class="Box Box--blue mb-3">
  <b>{{.Title}}</b>
  {{ .TableOfContents }}
</div>
{{ end }}

{{ if .Site.Params.ShareTo }}
{{ with .Site.Params.ShareTo }}
<div>
  {{ if in . "Twitter" }}
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  {{ end }}

  {{ if in . "Hatena" }}
  <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  {{ end }}

  {{ if in . "Facebook" }}
  <div class="fb-share-button" data-href="https://www.gitshell.net/blog" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.gitshell.net%2Fblog&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.0';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  {{ end }}
</div>
{{ end }}
{{ else }}
<div>
  Do not share.
</div>
{{ end }}
{{ end }}

