{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}



{{ define "main" }}
<!-- Title -->
<div class="Subhead">
  <div class="Subhead-heading">
    <div class="h1 mt-3 mb-1">{{ .Title }}</div>
  </div>
  <div class="Subhead-description">
    {{ partial "taxonomy.html" . }}

    {{ if ( default true .Params.showDate ) }}
    <div class="float-md-right">
      <span title="Lastmod: {{ .Lastmod.Format "2006-01-02" }}. Published at: {{ .PublishDate.Format "2006-01-02" }}.">
        {{ if ne .Lastmod .PublishDate }}
          Lastmod: {{ dateFormat ( default "2006-01-02" .Site.Params.dateFormat ) .Lastmod }}
        {{ else }}
          Published: {{ dateFormat "2006-01-02" .PublishDate }}
        {{ end }}
      </span>
    </div>
    {{ end }}
  </div>
</div>
{{ if .Site.Params.ShareTo_main }}
  <div class="Subhead">
    <div class="Subhead-heading">
      {{ partial "sharebuttons.html" (dict "param" .Site.Params.ShareTo_main) }}
    </div>
  </div>
{{ end }}
<article>
  <!-- Content -->
  <section class="pb-6 mb-3 border-bottom">
    {{ .Content }}
  </section>

  <section>
    {{ if (default true .Params.comments) }}
      {{ template "_internal/disqus.html" . }}
    {{ end }}
  </section>
</article>
{{ end }}



{{ define "side" }}
  {{ if and (gt .WordCount 0 ) (ne .Params.toc "false") }}
    <div id="toc" class="Box Box--blue mb-3">
      <b>{{.Title}}</b>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  {{ if .Site.Params.ShareTo }}
    {{ $baseURL := .Site.BaseURL }}
    {{ partial "sharebuttons.html" (dict "param" .Site.Params.ShareTo) }}
  {{ else }}
    <div>
      <!-- Do not share -->
    </div>
  {{ end }}
{{ end }}
