/* custom css here */
#post {
  display: grid;
  grid-template-columns: auto 230px;
  grid-template-areas: "main toc";
}
#main {
  display: block;
  grid-area: main;
}
#toc {
  display: block;
  grid-area: toc;
}
.toc-box {
  display: block;
  margin-top: 1.5rem;
  padding: 0.7rem;
}

#toc ul,
#toc li,
#toc ol {
  list-style: none;
}
#toc ul {
  padding-left: 0.8rem;
}
#toc li {
  margin-top: 0.3rem;
}
#toc a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1012px) {
  #post {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  #main {
  }
  #toc {
    display: none;
  }
}
