/* custom css here */
.h-100 {
  height: 100%;
}

#holy {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "header header"
    "main side";
}
#header {
  grid-area: header;
}
#main {
  grid-area: main;
  max-width: 782px;
}
#side {
  grid-area: side;
  width: 230px;
}
aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  display: block;
  overflow-y: scroll;
}

#toc {
  margin-top: 1.5rem;
  padding: 0.7rem;
}
#toc * {
  list-style: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#toc ul {
  padding-left: 0.8rem;
}
#toc li {
  margin-top: 0.3rem;
}

@media screen and (max-width: 1012px) {
  #holy {
    display: block;
  }
  #header {
  }
  #main {
    max-width: 1012px;
  }
  #side {
    display: none;
  }
}
