{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}


{{ define "main" }}
<!-- list template -->
<div>

  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ range .Paginator.Pages }}
  <div class="rounded-2 box-shadow-medium px-3 pb-2 pt-2 mb-2">
    <!-- single page card -->
    <div class="Subhead mb-2">
      <div class="Subhead-heading">
        <a href="{{ .URL }}">
          <div class="h2 mt-1 mb-1 link-gray-dark">{{ .Title }}</div>
        </a>
      </div>
      <div class="Subhead-description">
        {{ partial "taxonomy.html" . }}
        <div class="float-md-right">
          <span>{{ .Date.Format "2006-01-01" }}</span>
        </div>
      </div>
    </div>
    <div class="text-gray">
      <!-- summary -->
      {{ .Summary }}
    </div>
  </div>
  {{ end }}

  <!-- paginator nav -->
  {{ partial "paginator.html" . }}


</div>

{{ end }}


{{ define "side" }}
  {{ partial "side.taxonomy.html" . }}
{{ end }}


